* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
a,
textarea {
  outline: none;
  border: none;
}

a,
li {
  list-style: none;
  text-decoration: none;
}