* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #EDEDED;
  font-family: 'Roboto Condensed', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
a,
textarea {
  outline: none;
  //border: none;
}

a,
li {
  /* list-style: none; */
  text-decoration: none;
}